body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}
/*Banner section Start*/
#banner {
  display: flex;
  background-image: url(images/shapes/);
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
}
.banner-content {
  margin-left: 100px;
  margin-top: 250px;
}
.banner-content p {
  margin-bottom: 50px;
  color: #828282;
}
h1 {
  font-size: 50px;
}
.font-orange {
  color: orange;
}
.food-btn {
  background: linear-gradient(
    90deg,
    rgba(251, 162, 79, 1) 0%,
    rgba(255, 30, 30, 1) 100%
  );
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0px 0px 15px 10px rgba(252, 143, 73, 0.25);
}
.banner-img {
  width: 80%;
}
/*Banner section end*/

/*about-me section Start*/
#about-me {
  display: flex;
  background-image: url(images/shapes/Frame\ 58.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.about-me-img {
  width: 50%;
  margin-left: 200px;
  margin-top: 115px;
  margin-bottom: -5px;
}
.about-me-content {
  margin-top: 200px;
}
.about-me-content h1 {
  color: #828282;
}
.about-me-content p {
  margin: 50px 0px 70px 0px;
  padding-right: 170px;
}
/*about-me section end*/

/*recipie section Start*/
#recipie {
  margin-bottom: 100px;
}
.recipie-content {
  text-align: center;
  padding: 0 450px;
}
.recipie-manu {
  display: flex;
  margin-top: 100px;
}
.manu-card {
  width: 25%;
  margin-left: 4.15%;
  margin-right: 4.15%;
  border-radius: 25px;
  box-shadow: 0px 0px 30px 2px rgb(75 75 75 / 15%);
}
.manu-card img {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 25px;
}
.manu-card-content {
  padding: 0px 25px;
  margin-bottom: 50px;
}

/*recipie section end*/

/*call-to-action section end*/

.call-to-action {
  text-align: center;
  background-image: url(images/food/pexels-daria-shevtsova-1095550.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 100%;
  margin-bottom: 50px;
}
.call-to-action-content {
  padding-top: 50px;
}

/*call-to-action section end*/

/*counter section start*/
.counter {
  display: flex;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0px 0px 30px 2px rgb(75 75 75 / 15%);
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-top: 100px;
}
.counter-content-1 {
  width: 33%;
  text-align: center;
  margin-bottom: 30px;
}
.counter-content-1 h1 {
  margin-bottom: -20px;
}
.counter-content-2 {
  width: 33%;
  text-align: center;
  margin-bottom: 30px;
}
.counter-content-2 h1 {
  margin-bottom: -20px;
}
.counter-content-3 {
  width: 33%;
  text-align: center;
  margin-bottom: 30px;
}
.counter-content-3 h1 {
  margin-bottom: -20px;
}

/*counter section end*/

/*footer section start*/
footer {
  background-color: black;
  text-align: center;
}
footer h2 {
  color: #5b5b5b;
  padding-top: 30px;
}
footer h2 span {
  color: orange;
}
footer p {
  color: white;
  padding-bottom: 100px;
}
/*footer section end*/
